h1
{
font-size: 34px;
color: rgb(4, 16, 48);

}

h2
{
color:rgb(13, 35, 77);
font-size: 28px;
}

h3
{
font-size: 24px;
}

li
{
font-size: 20px;
}


a:hover
{
background-color: rgb(152, 153, 155);
}

.topmenu{
    justify-content: center;
    display: flex;
    align-self: center;
    background-color: skyblue;
    line-height: 60px;
    font-size: 32px;
    
}
.topmenu >li{
    list-style: none;
    padding: 1em;
    color: rgb(241, 233, 233);
    margin: auto;
}
.flexgrowcon {
    display:flex;
    align-items: flex-start;
    list-style-type: none;
    
}
leftbar,rightbar {
    background-color: rgb(243, 237, 237);
    min-height: 1200px;
    min-width: 220px;
}
footer {
    background-color: rgb(70, 150, 143);
    color:white;
    height: 60px;
    text-align: center;
}
header{
    background-color: skyblue;
    text-align: center;
}
.wrapper
{
    margin: auto;
    width:70%;
}
.contenttyyli
{
    flex-flow: column;
    background-color: rgb(166, 249, 255); 
    min-height: 1200px;
}
